<script src="../scripts/services/three.js-master/build/three.js"></script>

<script src="../scripts/services/three.js-master/examples/js/controls/OrbitControls.js"></script>

<script src="../scripts/services/three.js-master/examples/js/curves/NURBSCurve.js"></script>
<script src="../scripts/services/three.js-master/examples/js/curves/NURBSUtils.js"></script>
<script src="../scripts/services/three.js-master/examples/js/loaders/FBXLoader2.js"></script>

<script src="../scripts/services/three.js-master/examples/js/Detector.js"></script>
<script src="../scripts/services/three.js-master/examples/js/libs/stats.min.js"></script>
<script src="player3DModel.html"></script>

