<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type = "text/css" href="surbhi.css">
</head>
<body>
<div class = "container-fluid">
  <div id = completeForm >
    <div class="row">
      <form class="navbar-form" role="search">
        <div class="col-lg-6 col-md-6 col-xs-push-2 col-xs-8">
          <input class="form-control" type="text" placeholder = "type something.." style = "width:80%">
        </div>
        <div class="col-lg-6 col-md-6">
          <button class="btn btn-primary" type="button">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="login-container">
      <div class="well"><h4>Recieved Invitations</h4></div>

      <span class="img-circle img-responsive"><img ng-src = "/CSCI526_FrontEnd/20170320_165241.jpg"  alt="Responsive image" id="profile"/>
                  <span> ghjkgvbhjnkml,gvhbjnk fghjkghjklbhjkfghj</span>
                  <input type="button" value="Ignore" style="width: 10em; height: 2.5em;"/>
                  <input type="button" value="Accept" style="width: 10em; height: 2.5em;"/>
               </span>
    </div>
  </div>

  <div class="row">
    <div class="login-container">
      <div class="well"><h4>Search Invitations</h4></div>

      <span class="img-circle img-responsive"><img ng-src = "/CSCI526_FrontEnd/20170320_165241.jpg"  alt="Responsive image" id="profile"/>
                  <span> ghjkgvbhjnkml,gvhbjnk fghjkghjklbhjkfghj</span>
                  <input type="button" value="Ignore" style="width: 10em; height: 2.5em;"/>
                  <input type="button" value="Accept" style="width: 10em; height: 2.5em;"/>
               </span>
    </div>
  </div>

</div>
</body>
</html>

