<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: transparent;border: 0px">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#!/signup">Sign Up</a></li>
      <li><a href="#!/login">Login</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!--<md-toolbar class="transparent" >-->
  <!--<div class="ex" >-->
    <!--<a md-raised-button routerLink="." class="btn">Login</a>-->
    <!--<a md-raised-button routerLink="." class="btn">Sign Up</a>-->
  <!--</div>-->
<!--</md-toolbar>-->
