<div ng-controller="VideoCtrl">

    <div class="video-container " >
    <img ng-src = "../images/steveJobs.png"  class = "picture" alt="Responsive image"/>
    </div>
  <div class="video-container " >
    <img ng-src = "../images/steveJobs.png"  class = "picture" alt="Responsive image"/>
  </div>
  <div class="video-container " >
    <img ng-src = "../images/steveJobs.png"  class = "picture" alt="Responsive image"/>
  </div>
  <div class="video-container " >
    <img ng-src = "../images/steveJobs.png"  class = "picture" alt="Responsive image"/>
  </div> <div class="video-container " >
  <img ng-src = "../images/steveJobs.png"  class = "picture" alt="Responsive image"/>
  </div>


</div>
</div>
