
<div class="container" ng-controller="WelcomeCtrl">
  <div class=" panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <img class="img-circle" src="{{profilePicture}}" width="100px" height="100px">
        </div>
        <div class="col-xs-12 col-md-9">
          <h5>{{fullname}}</h5>
          <h5>{{username}}</h5>

          <p class="btn btn-default" ng-if='buttonvalue == "add friend"'  ng-click="addFriend()"><span class="glyphicon glyphicon-user"></span> Add Friend</p>
          <p class="btn btn-default" ng-if='buttonvalue == "already friend"'  ng-click="removeFriend()"><span class="glyphicon glyphicon-user"></span> Remove Friend</p>
          <p ng-if='buttonvalue == "request sent"' > Pending Request</p>

        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <td>Firstname</td>
          <td>{{firstname}}</td>
        </tr>
        <tr>
          <td>Lastname</td>
          <td>{{lastname}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{email}}</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>{{phone}}</td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td>{{birthday}}</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>{{occupation}}</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>{{country}}</td>
        </tr>
        <tr>
          <td>Area</td>
          <td>{{area}}</td>
        </tr>
        <tr>
          <td>Work</td>
          <td>{{work}}</td>
        </tr>
        <tr>
          <td>Introduction</td>
          <td>{{introduction}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

